.posterImage {
  height: 600px;
}

.posterImage > img {
  margin: auto;
  display: block;
  width: 100%;
}

.posterImage_overlay {
  position: absolute;
  padding: 50px;
  bottom: 0;
  height: 70%;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-start;
  background-image: linear-gradient(rgb(0, 0, 0, 0), rgb(0, 0, 01));
  opacity: 1;
  transition: opacity 0.3s;
}

.posterImage_overlay:hover {
  opacity: 1;
}

.posterImage_title {
  font-weight: 900;
  font-size: 40px;
  margin-bottom: 20px;
  text-align: left;
}

.posterImage_runtime {
  font-size: 40px;
  margin-bottom: 15px;
}

.posterImage_rating {
  margin-left: 35px;
}

.posterImage_description {
  font-style: italic;
  font-size: 15px;
  margin-bottom: 5px;
  display: flex;
  text-align: left;
  width: 50%;
}
